
<header class="header-area">
    <div class="container header__container">
        <div class="header__main">
            <a href="/Home/Index" class="logo">
                <img src="~/assets/images/logo/RotaLogo.jpg" alt="logo">
            </a>

            <div class="main-menu">
                <nav>
                    <ul>
                        <li class="has-megamenu">
                            <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                       
                        </li>
                        <li><a  asp-controller="Company" asp-action="Index" >Kurumsal</a></li>
                        <li><a asp-controller="Service"   asp-action="Index">Hizmetler</a></li>
                        <li><a asp-controller="Solution"  asp-action="Index">Çözümler</a></li>
                        <li><a asp-controller="Blog"      asp-action="Index">Blog</a></li>
                        <li><a asp-controller="Referance" asp-action="Index">Referanslar</a></li>
                     
                        <li><a asp-action="Index" asp-controller="Contact">İletişim</a></li>
                   
                    </ul>
                </nav>
            </div>
            <div class="d-none d-lg-inline-block">
                <a href="contact.html" class="btn-one">
                    Teklif Al <i class="fa-regular fa-arrow-right-long"></i>
                </a>
            </div>
            <div class="bars d-block d-lg-none">
                <i id="openButton" class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</header>